@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
/* Start Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
}
body {
  font-size: 18px;
  font-family: "open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}
p {
  margin-bottom: 30px;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
.flex {
  display: flex;
}
.flex > div,
.flex > ul {
  flex: 1;
}
.btn {
  border: none;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.btn-primary {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: hsla(322, 100%, 66%, 0.753);
}

/* Start Container */
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Container */
@media (max-width: 768px) {
  body {
    text-align: center;
  }
}
/* End Global Styles */

/* Start Header */
header {
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  background-position: center center;
  background-size: cover;
  margin-bottom: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
nav .btn-secondry:hover {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
}
header .banner {
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 768px) {
  header {
    background-image: url(../images/bg-hero-mobile.svg);
  }
  header .flex {
    flex-direction: column;
  }
  header .banner-content {
    margin-bottom: 20px;
  }
}

/* End Header */

/* Start Box */
.box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  padding: 60px;
}
.box .flex {
  align-items: center;
  justify-content: center;
}

.box .box-content {
  padding: 0 60px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .box {
    padding: 60px 20px;
  }
  .box .flex {
    flex-direction: column-reverse;
  }
  .box:nth-of-type(2) .flex {
    flex-direction: column;
  }
}

/* End Box */

/* Start Contact */
.contact {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  padding: 60px;
  text-align: center;
  width: 60%;
  position: relative;
  margin-bottom: -70px;
  z-index: 1;
}
@media (max-width: 768px) {
  .contact {
    width: 100%;
    padding: 60px 10px;
  }
}
/* End Contact */

footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 100px 0 10px 0;
  z-index: -1;
}
footer .flex {
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}
footer ul.social-media {
  padding-top: 0;
  justify-content: space-evenly;
}
footer ul {
  margin-right: 40px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
footer ul li div img {
  margin-top: 5px;
  margin-right: 15px;
}

.social-media a.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}
.social-media a:hover{
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}
footer p {
  text-align: right;
}
@media (max-width: 768px) {
  footer .flex {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  footer ul {
    margin-bottom: 20px;
  }
  footer ul.social-media {
    flex-direction: row;
  }
  footer ul li div span {
    display: flex;
    text-align: left;
  }
  footer p {
    text-align: center;
  }
}

/* End Footer */

/* scroll transition */
.reveal {
    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 1.5s ease-in-out;
  }
  
  .active {
    transform: translateX(0px);
    opacity: 1;
  }
  /* scroll transition */

